.personaList--grid{
    display: flex;
    flex-direction: column
}

@media screen and (min-width: 40em) and (max-width:63.9 em){
    .personaList--grid{
        display:grid;
        grid-template-columns:repeat(1,1fr);
        grid-gap:15px
    }
}

@media screen and (min-width: 40em) and (max-width:63.9 em) {
  .personaList--grid {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-gap: 15px
  }
}
